.text-box {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.text-box__title {
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: -2%;
    text-align: left;
    margin-bottom: 32px;
}

.text-box__descr {
    text-align: left;
    
}

@media (max-width: 992px) {


    .text-box__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.25em;
        margin-bottom: 52px;
    }
}

@media (max-width: 576px) { 
    .text-box__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.25em;
        margin-bottom: 52px;
    }
 }