.navbar__logo {
    width: 70px;
}

/* .navbar-nav {
    gap: 13px;
} */

.container-fluid .navbar-brand {
    margin-right: 30px;
}

@media screen and (max-width: 1200px) {
    .container-fluid .navbar-brand {
            margin-right: 5px;
        }
}

.navbar-nav .nav-link {
    color: rgb(119, 126, 145);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

@media screen  and (max-width: 1400px){
    .navbar-nav .nav-link {
            font-size: 13px;
        }
}

.navbar-container {
    justify-content: space-between;
}

.navbar__contacts-header {
    gap: 20px;
}

.contacts-header__tel {
    color: rgb(119, 126, 145);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
}

.contacts-header__link {
    transition: transform .2s ease-in-out;
}

.contacts-header__link:hover {
    transform: scale(1.1);
}

.contacts-header__link:focus {
    transform: scale(1.1);
}

.contacts-header__link:focus {
    transform: scale(1.1);
}

@media (max-width: 992px) { 
    .navbar-container .navbar-nav {
        align-items: center;
        margin-bottom: 32px;
    }
 }

 .nav-link-btn-box {
    display: flex !important;
    /* для текста */
    /* gap: 10px; */
    /* для текста */
        gap: 10px
 }

 @media (max-width: 1200px) {
    .nav-link-btn-box {
            gap: 0
        }
 }

 .lang-btn {
    background-color: white;
    border: none;
    color: rgb(119, 126, 145);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    transition: color .2s linear, opacity .2s linear;
 }

 @media (max-width: 1400px) {
    .lang-btn {
            font-size: 13px;
        }
 }

 /* для текста */

 /* .lang-btn {
     background-color: white;
     border: none;
     color: rgb(119, 126, 145);
     font-size: 16px;
     font-weight: 700;
     line-height: 16px;
     text-decoration: none;
     transition: color .2s linear;
 } */

 /* .lang-btn:hover {

    color: black;

 }

 .lang-btn.active {

    color: black;

 } */

 .lang-btn{
    opacity: 0.3;
 }

.lang-btn:hover {

    opacity: 1;

}

.lang-btn.active {

    opacity: 1;

}
